.titile{
  margin: 10px 0px;
  padding: 12px 10px 12px 10px;
  width: 1200px;
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  color: #333333;
  text-align: left;
  line-height: normal;
  background-image: url("../../images/technology/dynamic/u5.png");
}
.headlines{
  margin: 5px 0px 15px 0px ;
  padding: 7.5px 10px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  text-align: left;
  line-height: normal;
  background-image: url("../../images/technology/dynamic/u199.png");
}
.colum1{
  float: left;
  padding: 39px 0px;
  width: 37px;
  height: 110px;
  font-size: 14px;
  color: red;
  text-align: center;
  background-image: url("../../images/technology/dynamic/u201.png");
}
.img-row{
  float: left;
  margin: 28px 10px 28px 10px;
  width: 47px;
  height: 39px;
}
.headlines-module{
  float: left;
  margin: 0px 20px;
  padding: 5px 10px;
  background-image: url("../../images/technology/dynamic/u205.png");
}
.headlines-title{
  margin-bottom: 5px;
  padding-left: 5px;
  width: 271px ;
  height: 23px;
  line-height: 23px;
  background-image: url("../../images/technology/dynamic/u213.png");
}
.headlines-module img{
  margin-right: 5px;
  float: left;
  width: 78px;
  height: 69px;
}
.headlines-word{
  float: left;
  padding: 10px 0px 0px 5px;
  width: 188px;
  height: 69px;
  background-image: url("../../images/technology/dynamic/u217.png");
}
.content-title{
  padding-left: 5px;
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  text-align: left;
  line-height: 40px;
  background-image: url("../../images/technology/dynamic/u243.png");
}
.content-title-1{
  float: left;
  background-image:url("../../images/technology/dynamic/transparent.gif") ;
}
.content-title-2{
  float: right;
  margin-right:5px;
  padding:0px 25px;
  background-image:url("../../images/technology/dynamic/u247.png");
  background-size: 86px 40px;
}
.content-row{
  background-image:url("../../images/technology/dynamic/u157.png");

}
.content-pic{
  float: left;
  margin: 0px 10px 0px 45px;
  width: 96px;
  height: 78px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #333333;
  text-align: center;
  line-height:78px;
  background-image:url("../../images/technology/dynamic/u185.png");
}
.content-1{
  float: left;
  padding-top: 25px;
}
.content-title-mini{
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  text-align: left;
  line-height: normal
}
.content-word-mini{
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  text-align: left;
  line-height: normal;
}
