@CHARSET "UTF-8";

.fast-contact{
	width: 190px;
	height: 70px;
	background-color: #E0E0E0;
	border: 1px solid #000;
	margin-top:5px;
	float: left;
	text-align: center;
}

#button1{
	width: 160px;
	height: 40px;
	background-color:#fff;
	border:1px solid #000;
	font-family: 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
    margin-top: 15px;
}

.left-menu{
	width: 190px;
	height: 500px;
	float: left;
}

.left-menu button{
	width: 190px;
	height: 27px;
}