.contents{
    padding: 0;
}
.contents .msg{
    padding: 150px 0 30px;
    font-size: 24px;
    text-align: center;
}
.contents .action {
    font-size: 16px;
    text-align: center;
    color: #368cf6;
}
.contents .action a{
    color: #368cf6;
}
.contents .action a:hover{
    color: #f00;
}